<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Redirecting to github.com/simonw/</title>
    <meta http-equiv="refresh" content="0; URL=https://github.com/eugene100hickey">
    <link href="https://github.com/eugene100hickey" rel="me">
    <link href="https://www.fizzics.ie/" rel="me">
    <link href="https://mastodon.social/@eugene100hickey" rel="me">
  </head>
  <body style="margin: 0; padding: 0">
    <a
      href="https://github.com/eugene100hickey"
      style="
        display: block;
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        color: white;
      "
    >
      github.com/eugene100hickey
    </a>
  </body>
</html>
